body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: #3C3C39;
    margin: auto;
    color: white;
    font-family: arial;
    font-size: 0.9;
    text-align: center;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

header p,
footer p {
    margin: 0;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

picture {
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #3C3C39;
}

section {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    background-color: lightgray;
    font-size: .9rem;
    box-sizing: border-box;
}

section h2 {
    border-bottom: black solid 1px;
}

section p {
    padding: 10px;
}

section ul {
    padding: 10px 20px;
}

footer {
    font-size: .9rem;
}